---
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Pagination from "@components/Pagination.astro";
import Card from "@components/Card";
import { SITE } from "@config";
import type { Page } from "astro";
import type { CollectionEntry } from "astro:content";

export interface Props<T extends "blog" | "mcskins" | "pictures"> {
  page: Page<CollectionEntry<T>>;
}

const { page } = Astro.props;

// URLからカテゴリを取得
const urlPath = Astro.url.pathname.split("/"); // URLをスラッシュで分割
const categoryFromUrl = urlPath[1]; // URLの2番目の要素にカテゴリがあると仮定

// paginatedPostsが空の場合はURLから取得したcategoryを使用
const category =
  page.data.length > 0
    ? page.data[0].collection
    : categoryFromUrl === "blog" ||
        categoryFromUrl === "mcskins" ||
        categoryFromUrl === "pictures"
      ? categoryFromUrl
      : undefined;
---

<Layout
  title={`${
    category === "mcskins"
      ? "Mcskins"
      : category === "pictures"
        ? "Pictures"
        : "Posts"
  } | ${SITE.title}`}
>
  <Header activeNav={category === "blog" ? "posts" : category} />
  <Main
    pageTitle={category === "mcskins"
      ? "Mcskins"
      : category === "pictures"
        ? "Pictures"
        : "Posts"}
    pageDesc="All the articles I've posted."
  >
    <ul>
      {
        page.data.map(({ data, slug }) => (
          <Card
            href={`/${category === "blog" ? "posts" : category}/${slug}/`}
            frontmatter={data}
          />
        ))
      }
    </ul>
  </Main>

  <Pagination {page} />

  <Footer noMarginTop={page.lastPage > 1} />
</Layout>
